{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-5">

        <div class="row justify-content-center">

            <div class="col-lg-6 text-center">

                <p>Customize Profil</p>

            </div>

        </div>

    </div>

{% endblock %}